@model SuperHero.Models.Superhero

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Superhero</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuperHeroName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuperHeroName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuperHeroAlterEgo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuperHeroAlterEgo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Primarysuperheroability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Primarysuperheroability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Secondarysuperheroability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Secondarysuperheroability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatchPhrase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatchPhrase)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
