@model IEnumerable<SuperHero.Models.Superhero>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuperHeroName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuperHeroAlterEgo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Primarysuperheroability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Secondarysuperheroability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatchPhrase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuperHeroName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuperHeroAlterEgo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Primarysuperheroability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Secondarysuperheroability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatchPhrase)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit me", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details to see", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
